.registro-container {

    width: 100%;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background:
        radial-gradient(
            circle at top,
            #4b0082,
            #050505 60%
        );

    padding: 40px;

}



/* CARD */

.registro-card {

    width: 500px;

    background: rgba(10,10,10,0.95);

    padding: 40px;

    border-radius: 20px;

    border: 1px solid #9b00ff;

    box-shadow:
        0 0 20px rgba(155,0,255,0.5),
        0 15px 40px rgba(0,0,0,0.8);

    backdrop-filter: blur(10px);

}



/* TITULO */

.registro-card h2 {

    text-align: center;

    color: #ffffff;

    font-size: 32px;

    margin-bottom: 30px;

    text-shadow:
        0 0 10px #9b00ff;

}





/* INPUTS */

.registro-card input,
.registro-card select {


    width:100%;

    padding:14px;

    margin-bottom:18px;


    background:#111;


    color:white;


    border:1px solid #444;


    border-radius:10px;


    font-size:15px;


    transition:.3s;

}





.registro-card input::placeholder {

    color:#888;

}




.registro-card input:focus,
.registro-card select:focus {


    outline:none;


    border-color:#9b00ff;


    box-shadow:
        0 0 12px rgba(155,0,255,0.8);

}





/* SELECT */

.registro-card select {

    cursor:pointer;

}



.registro-card select option {

    background:#111;

    color:white;

}





/* CHECKBOX */

.check {


    display:flex;


    align-items:center;


    gap:12px;


    color:white;


    margin-bottom:20px;


    font-weight:600;


}



.check input {


    width:18px;

    height:18px;

    accent-color:#9b00ff;


}





/* BOTON */

.registro-card button {


    width:100%;


    padding:15px;


    border:none;


    border-radius:10px;


    background:#9b00ff;


    color:white;


    cursor:pointer;


    font-size:18px;


    font-weight:bold;


    transition:.3s;


    box-shadow:

        0 0 15px rgba(155,0,255,0.6);


}





.registro-card button:hover {


    background:#c000ff;


    transform:translateY(-2px);


    box-shadow:

        0 0 25px rgba(155,0,255,1);


}





/* RESPONSIVE */

@media(max-width:600px){


    .registro-container{

        padding:20px;

    }



    .registro-card{


        width:100%;

        padding:25px;


    }



    .registro-card h2{

        font-size:26px;

    }


}